@import "tailwindcss";
@tailwind utilities;
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.scroll-hidden {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}

.custom-alerts {
  z-index: 2000 !important;
  margin-top: 200px !important;
  margin-left: 300px !important;
  position: absolute !important;
  /* background-color: "red" !important; */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.gradient-border {
  border: 6px solid;
  border-image-source: linear-gradient(180deg, #03A7F3 0%, #005278 100%);
  border-image-slice: 1;
}

/* Hide scrollbar for Chrome, Safari, Edge, Opera */
.no-scrollbar::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}

/* Hide scrollbar for Firefox */
.no-scrollbar {
  scrollbar-width: none;           /* Firefox */
  -ms-overflow-style: none;        /* IE/old Edge */
}

/* Optional: smoother touch scrolling on iOS */
.no-scrollbar {
  -webkit-overflow-scrolling: touch;
}